body{
    font-family: 'Montserrat';
}
#title{
    background-color: #ff4c68;
    color: #fff;
}


h1{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
h2{
    font-family: 'Montserrat';
    font-size: 2rem;
}
h3{
    font-family: 'Montserrat';
}
p{
    color: #8f8f8f;
}


.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
}

.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 300;
}

.down-btn{
    margin: 5% 3% 5% 0;
}
.iphone-image{
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 20%;
}

/* features */

#features{
    padding: 8% 15%;
    position: relative;
    background-color: #fff;
}

.features-box{
    padding: 8%;
    text-align: center;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

#testimonials{
    background-color: #ef8172;
    color: #fff;
    text-align: center;
}
#carouselExampleControls{
    padding: 7% 15%;
}

.testimonial-image{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 7%;
}

#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}
.bottom-btn{
    margin: 2%;
}
#footer{
    padding: 7% 15%;
    text-align: center;
}
.icon{
    margin: 20px 10px;
}

@media (max-width:980px){
    #title{
        text-align: center;
    }
    .iphone-image{
        position: static;
        transform: rotate(0);
    }
}